@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
:root {
  --txt-clr: #eee;
  --bg-clr: rgb(22, 22, 22);
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Press Start 2P', sans-serif;
}

html {
  font-size: clamp(0.63rem, calc(0.45rem + 0.24vw), 0.5rem);
  min-height: 100%;
}
body {
  margin-block-start: 5rem;
  height: 100%;
  display: grid;
  place-items: center;
  background-color: var(--bg-clr);
  color: var(--txt-clr);
}
header {
  padding: 1rem;
}
header h1 {
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  margin-block-end: 1.3rem;
}
header p {
  font-size: 1.3rem;
  text-align: center;
}
main {
  width: 100%;
  display: grid;
  place-items: center;
}
main div.ethentic {
  display: grid;
  place-items: center;
  width: 100%;
  margin-block: 1rem;
  position: relative;
}
main div.ethentic div.square {
  background-color: var(--txt-clr);
  color: var(--bg-clr);
  position: absolute;
  display: grid;
  place-items: center;
  font-size: 4rem;
  padding: 2rem 3rem;
  border: 0.7rem solid var(--txt-clr);
}
main div.ethentic div.square:hover {
  background-color: var(--bg-clr);
  color: var(--txt-clr);
}
main div.ethentic hr {
  border: 0;
  border-top: 0.7rem solid var(--txt-clr);
  width: 100%;
  margin-block: 6rem;
}
.inputs {
  display: grid;
  place-items: center;
  width: 100%;
  margin-block-end: 1rem;
}
.guess {
  display: grid;
  place-items: center;
  width: 100%;
  margin-block-end: 1rem;
  gap: 1.5rem;
}
label {
  display: grid;
  padding: 1rem 3rem;
  place-items: center;
}
.guess {
  padding: 3rem;
  text-align: center;
  font-size: 4rem;
  color: var(--txt-clr);
  background-color: transparent;
  outline: 0;
  border: 0.7rem solid var(--txt-clr);
  max-width: 300px;
}
button {
  padding: 2rem 1rem;
  font-size: 2rem;
  background-color: var(--txt-clr);
  border: 0.7rem solid var(--txt-clr);
  color: var(--bg-clr);
  cursor: pointer;
  margin-block-end: 3rem;
}
button:hover {
  background-color: var(--bg-clr);
  color: var(--txt-clr);
}
.again {
  display: none;
}
.scores {
  display: grid;
  place-items: center;
  margin-block-end: 3rem;
  gap: 1.5rem;
}
